<%include ../partials/header%>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Admin Page</h1>
            <!--<p>View our partnered restaurants from the Greater Portland area</p>-->
        </div>
    </header>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Tools</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-9 col-sm-6 col-xs-3">
                    <a href="/admin/userlist" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> User List
                    </a>
                    <a href="/admin/restaurantlist" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-glass" aria-hidden="true"></span> Restaurant List
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<%include ../partials/footer%>



