<%include ../partials/header%>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Admin Page</h1>
            <!--<p>View our partnered restaurants from the Greater Portland area</p>-->
        </div>
    </header>
    <div class="row">
        <div class="col-md-9 col-sm-6 col-xs-3">
            <a href="/admin/userlist" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Userlist
            </a>
        </div>
    </div>
</div>

<%include ../partials/footer%>