<%include ../partials/header%>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Admin Page</h1>
            <!--<p>View our partnered restaurants from the Greater Portland area</p>-->
        </div>
    </header>
    
    <!--TOOLS-->
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Tools</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <a href="#" class="btn btn-default btn-lg btn-block" disabled="disabled">
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>  Site Config
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <a href="#" class="btn btn-default btn-lg btn-block" disabled="disabled">
                        <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>  CC Processing
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <a href="#" class="btn btn-default btn-lg btn-block" disabled="disabled">
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>  Marketing
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <!--REPORTS-->
    
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Reports</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <a href="#" class="btn btn-default btn-lg btn-block" disabled="disabled">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>  Order Lookup
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <a href="/admin/userlist" class="btn btn-default btn-lg btn-block">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>  User List
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <a href="/admin/restaurantlist" class="btn btn-default btn-lg btn-block">
                        <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>  Restaurant List
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <a href="/admin/stats" class="btn btn-default btn-lg btn-block">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>  Stats
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <!--MANAGMENT-->
    
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Managment</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <a href="#" class="btn btn-default btn-lg btn-block" disabled="disabled">
                        <span class="glyphicon glyphicon-road" aria-hidden="true"></span>  Drivers
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <a href="#" class="btn btn-default btn-lg btn-block" disabled="disabled">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>  Delivery Zone
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<%include ../partials/footer%>



